<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haud.sctu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SCTU">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddEditSmsActivity"
            android:label="Add New SMS Log"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AddLog"/>

        <activity android:name=".AddEditPhoneActivity"
            android:label="Add New Phone Log"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AddLog"/>

        <activity
            android:name=".MainActivity"
            android:label="Logs List"
            android:theme="@style/Theme.SCTU"/>

    </application>

</manifest>